:root {
  --background-color: #f7ebec;
  --main-color: #f28482;
  --secondary-color: #415a77;
  --icon-bg-color: #e8c7c960;
  --main-font: "Poppins", sans-serif;
}

body {
  font-family: var(--main-font);
  background-color: var(--background-color);
}

hr {
  color: var(--secondary-color);
  margin: 50px 50px 0px 50px;
}

/* Homepage hero*/

.homepage-hero {
  padding: 20px 20px;
}

h1 {
  font-weight: bold;
  font-size: 62px;
  color: var(--main-color);
  text-align: center;
}

h2 {
  font-weight: bolder;
  font-size: 22px;
  color: var(--secondary-color);
  text-align: left;
  display: block;
}

p {
  font-size: 15px;
  line-height: 1.5;
  color: var(--secondary-color);
  text-align: justify;
}

.profile-picture {
  padding: 0px;
  border-radius: 30px;
  width: 390px;
  length: 450px;
  display: block;
  margin: 20px auto;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

/* Portfolio */

h3 {
  margin-top: 10px;
  font-weight: bolder;
  font-size: 32px;
  color: var(--secondary-color);
  text-align: center;
  display: block;
}

.groom-image {
  display: block;
  margin: 0 auto;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  width: 350px;
  height: 402px;
}

.img-description {
  text-align: center;
  margin-top: 10px;
}

h5 {
  font-weight: medium;
  font-size: 30px;
  color: var(--secondary-color);
  text-align: center;
}

.btn-main {
  background-color: var(--main-color);
  border: solid 4px var(--main-color);
  border-radius: 20px;
  color: #fff !important;
  font-size: 20px;
  padding: 15px 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  display: block;
  margin: 50px 38%;
}

.btn-main:hover {
  color: #fff !important;
  background-color: var(--secondary-color) !important;
}

/* Navbar */

.navbar {
  background-color: var(--background-color) !important;
}

.nav-link {
  color: var(--secondary-color) !important;
  font-weight: 400;
}

.nav-number {
  color: var(--main-color);
  padding: 5px;
  font-weight: 400;
}

.active {
  font-weight: 600;
}

.navbar-nav a:hover {
  font-weight: 600;
  transition: all 100ms ease-in-out;
}

/* Portfolio */

.portfolio {
  padding: 40px;
}

h4 {
  color: var(--main-color);
  font-size: 30px;
  font-weight: 500;
  text-align: justify;
}

/*about*/

.contact-section {
  background-color: var(--icon-bg-color);
  margin: 80px 200px;
  border-radius: 5px;
}

.contact-section .btn-main {
  margin: 35px 30%;
  padding: 5px 15px;
  font-size: 17px;
  border-radius: 8px;
}

.contact-prompt-text {
  display: block;
  margin: 5px auto;
  padding: 10px 5px 0px 5px;
  text-align: center !important;
}

.contact-prompt-text p {
  font-size: 17px;
  padding: 0 20px;
  text-align: center;
}

.contact-container h3 {
  text-align: left;
}
/*footer*/

footer .contact-section {
  margin-bottom: 30px;
}

.footer-links a {
  font-size: 40px;
  text-align: center;
  margin: 0px 10px 20px 10px;
  padding: 5px 18px;
  color: var(--secondary-color);
  background-color: var(--icon-bg-color);
  border-radius: 50%;
  transition: all 150ms ease-in-out;
}

footer .footer-links a:hover {
  color: var(--background-color);
  background-color: var(--secondary-color);
}

footer .repository p {
  text-align: center;
  font-size: 15px !important;
}

footer .repository p a {
  color: var(--main-color);
}

footer .repository p a:hover {
  color: var(--secondary-color);
}
/* responsive */

@media (max-width: 992px) {
  .groom-image {
    width: 301px !important;
    height: 189px !important;
  }

  .content-container h1 {
    font-size: 45px;
    text-align: center;
  }

  .profile-picture {
    padding: 0px;
    margin: 30% 30% 10px 0;
    width: 337px;
    length: 407px;
  }
}

@media (max-width: 768px) {
  .navbar-brand img {
    width: 47px;
    height: 47px;
  }

  h1 {
    font-size: 46px;
  }

  h2 {
    font-size: 23px;
  }

  h5 {
    font-size: 20px;
  }

  .btn-main {
    margin: 50px 15%;
  }

  .content-container {
    text-align: center;
  }

  .profile-picture {
    width: 350px;
    length: 300px;
    padding: 0px 40px 0 10px;
    display: block;
    margin: 0;
  }

  .contact-section {
    display: block;
    margin: 35px 20px;
  }
}
